<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dashboard</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <h1>Pregunta1</h1><br>
    <p1 id="paragraph1" class="first">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reprehenderit dolorum sapiente, deleniti quam, laudantium qui explicabo ea doloribus pariatur aliquid quae praesentium sit temporibus beatae eligendi quis mollitia, aperiam incidunt.
    Dolorum neque rem reprehenderit, facilis, nesciunt praesentium distinctio sunt voluptatibus minima beatae natus unde ipsum alias veniam eum fuga eos eveniet cum accusamus! Porro, similique illum iste odio blanditiis magni!
    Animi quo recusandae laudantium neque reprehenderit ab eos cupiditate fugit magni hic maxime possimus obcaecati, autem exercitationem explicabo culpa fuga a illum dignissimos ipsum minima eaque, facere eum temporibus! Totam!</p1>

    <script src="https://www.w3schools.com/lib/w3.js"></script>
    <script src="/static/script.js"></script>
</body>

</html>